
.nav{
  background-color: #2C3E50 !important;
}
.header{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #1ABC9C;
}
.header-img{
  width: 250px;
}
.header h1{
  font-size: 60px;
  text-transform: uppercase;
}
.line{
  width: 120px;
  height: 4px;
}
.portfolio{
  padding:100px 0;
}
.portfolio h2{
  color: #2C3E50;
  font-weight: bold;
  font-size: 50px;
}

.about{
  background-color: #1ABC9C;
  padding:100px 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 40px;
 

  p{
    text-align: justify;
  }
 
 
}

.divider-custom{
  margin: 50px 0;
  
}

.btn{
  width: 190px ;
  height: 60px;
  

  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  cursor: pointer;
  
  a{
    color: #FFFFFF;
  }
 

  border-radius: 5px;
 


}

.footer{
  background-color: #2C3E50;
  padding:100px 0;
  color: #fff;
}
.footer .para1{
  max-width: 220px;
  font-weight: 400;
  font-size: 18px;
}
.footer .para2{
  max-width: 400px;
  font-weight: 400;
  font-size: 18px;
}
.footer .para2 a{
  color: #1ABC9C;
  text-decoration: none;
}
.copyright {
  background-color: #1a252f;
}

/* ContactForm.css */
.button{
  background-color: #1ABC9C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 75px;
  font-size: 20px;
 

}
.about{
  background-color: #1ABC9C;
  padding:100px 0;
}
.about h2{ 
  color: #2C3E50;

  font-weight: bold;

  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: text-decoration 0.3s ease;
  -webkit-transition: text-decoration 0.3s ease;
  -moz-transition: text-decoration 0.3s ease;
  -o-transition: text-decoration 0.3s ease;
  -ms-transition: text-decoration 0.3s ease;
  cursor: pointer;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 30px;
}


label {
  display: block;
  margin-bottom: 1px;
  font-size: 24px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline:none;
  font-size: 18px;
  color: #333;
  background-color: transparent;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid rgb(92, 92, 223);
}

textarea {
  resize: none;
  height: 80px;
}